<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Find by Api Id</title>
</head>
<body>
<form th:if="${entityType == 'Genre'}" action="#" th:action="@{/client/genres/view/apiId}" th:object="${genre}"
      method="POST">
  <label for="genreApiId">API ID:</label>
  <input type="number" id="genreApiId" name="genreApiId" th:field="*{apiId}"/>
  <input type="submit" id="genreSubmit" value="Submit">
</form>

<form th:if="${entityType == 'Game'}" action="#" th:action="@{/client/games/view/apiId}" th:object="${game}"
      method="POST">
  <label for="gameApiId">API ID:</label>
  <input type="number" id="gameApiId" name="gameApiId" th:field="*{apiId}"/>
  <input type="submit" id="gameSubmit" value="Submit">
</form>

<form th:if="${entityType == 'Theme'}" action="#" th:action="@{/client/themes/view/apiId}" th:object="${theme}"
      method="POST">
  <label for="themeApiId">API ID:</label>
  <input type="number" id="themeApiId" name="themeApiId" th:field="*{apiId}"/>
  <input type="submit" id="themeSubmit" value="Submit">
</form>

<form th:if="${entityType == 'Platform'}" action="#" th:action="@{/client/platforms/view/apiId}" th:object="${platform}"
      method="POST">
  <label for="genreApiId">API ID:</label>
  <input type="number" id="platformApiId" name="platformApiId" th:field="*{apiId}"/>
  <input type="submit" id="platformSubmit" value="Submit">
</form>

<form th:if="${entityType == 'Company'}" action="#" th:action="@{/client/companies/view/apiId}" th:object="${company}"
      method="POST">
  <label for="companyApiId">API ID:</label>
  <input type="number" id="companyApiId" name="companyApiId" th:field="*{apiId}"/>
  <input type="submit" id="companySubmit" value="Submit">
</form>

</body>
</html>